.contact-form {
   margin-top: 60px;
}

.container {
    max-width: 1110px;
    justify-content: center;
}

h2 {
    margin-left: 530px;
    font-size: $font-size-18;
    font-family: $font-poppins;
    font-weight: $font-weight-bold;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
    gap: 40px;

}

textarea {
    grid-column: 1 / -1 ;
}
.error {
    color: $color-theme;
    font-family: $font-poppins;
    border: 1px solid $color-theme;
}
.errorMessage {
    margin-top: 5px;
    color: $color-theme;
    font-family: $font-poppins;
    font-size: 0.8em;
}

.lel {
    display: flex;
    gap: 2.5rem;
}
#name {
    padding: 18px 20px;
    width: 400px;
    border: 1px solid $color-lightgray;
    font-family: $font-poppins;
}
#email {
    padding: 18px 20px;
    width: 400px;
    border: 1px solid $color-lightgray;
    font-family: $font-poppins;
}
#message {
    width: 840px;
    min-height: 140px;
    padding: 18px 20px;
    border: 1px solid $color-lightgray;
    resize: none;
    font-family: $font-poppins;

}
#send-button {
    height: 50px;
    width: 190px;
    border: 1px solid $color-lightgray;
    margin-bottom: 3rem;
    font-size: $font-size-16;
    font-family: $font-poppins;
    font-weight: $font-weight-semi-bold;
}
