
.top-menu {
    position: relative;
    background-color: $color-gray-6;
    height: 100px;
}
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }

        
            .brand {
                position: absolute;
                left: 7%;
                color: $color-theme-dark;
                font-size: $font-size-35;
                font-family: $font-poppins;
                font-weight: $font-weight-extra-bold;
                justify-content: start;
                padding-left: 0px;
                padding-right: 0px;
            }
            
                .nav-pills {
                    position: absolute;
                    right: 41.5%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    text-decoration: none;
                }
                    .nav-item {
                        color: $color-theme-dark;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

           #link {
            color: $color-theme-dark;
            font-size: $font-size-16;
            font-family: $font-poppins;
            font-weight: $font-weight-medium;
            list-style: none;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            margin: 10px;
            align-items: center;

                &:hover {
                    color: $color-theme;
                }
           }
            
        #top-btn {
            position: absolute;
            right: 7%;
        }  
          