$color-theme: #FF7373;
$color-white: #FFFFFF;
$color-theme-light: #EDFCFA;
$color-theme-dark: #23262A;
$color-theme-dark-light: #616365;
$color-lightgray: #70707066; 

$color-gray-1: #BEBEBE;
$color-gray-2: #F5F5F5;
$color-gray-3: #FFFFFF;
$color-gray-4: #f6f6f6;
$color-gray-5: #777777;
$color-gray-6: #E6E6E6;

$color-product-instock: #82D8C6;
$color-product-outofstock: #FE6C6C;

$font-poppins: 'Poppins', sans-serif;
$font-family: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-size-13: 0.813rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-35: 2.188rem;
$font-size-45: 2.813rem;
$font-size-60: 3.75rem;
$font-size-65: 4.063rem;

$border-radius-small: 8px;
$border-radius-medium: 25px;
$border-radius-rounded: 50%;