
.grid-left {
    margin-top: 60px;
    margin-bottom: 300px;
    
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
            .box {
                position: relative;
                align-items: center;
                text-align: center;
                background-color: $color-gray-1;
                height: 700px;
                width: 660px;
                
                .box-text {
                    position: absolute;
                    width: 100%;
                    top: 40%;
                    h2 {
                        color: $color-white;
                        font-size: $font-size-45;
                        font-weight: $font-weight-bold;
                     }
                        #box-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 190px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 20px;
                        }
                   
                }
                .min {
                    width: 100%;
                    margin-left: 10px;
                        
                        .card {
                            width: 255px;
                            .card-body {
                                text-align: center;
                            }
                        }
                                
                }
        
            }   
        
   

        .card {
            border: none;
            width: 255px;
            margin-left: auto;
            margin-right: auto;

            .card-img { 
                display: grid;
                width: 255px;
                background-color: $color-gray-2;
                position: relative;
            

                img {
                    width: 255px;
                    height: 210px;
                    object-fit: cover;
                }

                .card-menu {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    display: block;
                    

                    .menu-link {
                        height: 36px;
                        width: 36px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 15px;
                        color: $color-theme-dark;
                        background-color: $color-white;
                        border-radius: 50%;
                        border: none;
                        outline: none;
                        box-shadow: 0px 0px 6px 4px $color-shadow;
                        position: relative;

                        &:hover {
                            color: $color-white;
                            background-color: $color-theme-dark;
                            text-decoration: none;
                            
                        }
                    }
                }
            }

            .btn-card-theme {
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50px;
            }



            .card-body {
                text-align: center;
                width: 255px;

                .card-category {
                    font-size: $font-size-13;
                    font-weight: $font-weight-medium;
                    margin-bottom: 5px;
                } 
                .card-title  {
                    font-size: $font-size-16;
                    font-weight: $font-weight-semi-bold;
                }
                .card-rating  {
                    color: $color-theme;
                    margin-bottom: 5px;
                }
                .card-price {
                    font-size: $font-size-18;
                    font-weight: $font-weight-semi-bold;
                }

            }
            
            &:hover {
                .card-menu {
                    display: block !important;
                }
                .btn-card-theme {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                }   
            }
        }
    }
 }

@media (min-width: 1200px) {
.grid-right {
    .container {
        max-width: 1200px;
    }
}
}
