    .mainmenu {
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "brand menuicons"
                             "menulinks menulinks";
        .container {
          
        }
    
        .brand {
            grid-area: brand;
            color: $color-theme-dark;
            font-size: $font-size-35;
            font-family: $font-poppins;
            font-weight: $font-weight-bold;
            text-decoration: none;
            
            &:hover {
                color: $color-theme-dark;
                text-decoration: none;
            }
        }
    
        .menu-links {
            grid-area: menulinks;
            border: 1px solid black;
            .menu-link {
               
              
                &:hover {
                
                }  
            }
    
            .active {
               
            }
        }
    
        .menu-icons {
            grid-area: menuicons;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .menu-icon {
                
                background-color: $color-white;
                color: $color-theme-dark;
                width: 36px;
                height: 36px;
                margin-left: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 6px 4px $color-shadow;
                position: relative;
                transition: all 0.1s ease-in-out;

                &:hover {
                  
            }
    
    
    
            .active {
                
            }
        }
    }
    
    
}