.product-grid {
    margin-bottom: 60px;
    
    .container {
        display: block;
        text-align: center;
    }

    .featured-title {
        font-size: $font-size-18;
        font-weight: $font-weight-bold;
        margin-bottom: 30px;
    }

    .card {
        border: none;
        margin-left: auto;
        margin-right: auto;

        .card-img {
            display: grid;
            background-color: $color-gray-2;
            position: relative;

            img {
                width: 100%;
                height: 210px;
                object-fit: cover;
            }

            .card-menu {
                position: absolute;
                top: 10px;
                right: 10px;
                display: block;

                .menu-link {
                    height: 36px;
                    width: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                    color: $color-theme-dark;
                    background-color: $color-white;
                    border-radius: 50%;
                    border: none;
                    outline: none;
                    box-shadow: 0px 0px 6px 4px $color-shadow;
                    position: relative;

                    &:hover {
                        color: $color-white;
                        background-color: $color-theme-dark;
                        text-decoration: none;
                        
                    }
                }
            }
        }

        .btn-card-theme {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
        }

    

        .card-body {
            text-align: center;

            .card-category {
                font-size: $font-size-13;
                font-weight: $font-weight-medium;
                margin-bottom: 5px;
            } 
            .card-title  {
                font-size: $font-size-16;
                font-weight: $font-weight-semi-bold;
            }
            .card-rating  {
                color: $color-theme;
                margin-bottom: 5px;
            }
            .card-price {
                font-size: $font-size-18;
                font-weight: $font-weight-semi-bold;
            }

        }
        
        &:hover {
            .card-menu {
                display: block !important;
            }
            .btn-card-theme {
                display: flex !important;
                justify-content: center;
                align-items: center;
            }   
        }
    }
}

@media (min-width: 1200px) {
    .product-grid {
        .container {
            max-width: 1110px;
        }
    }
}