.shoppingcart {
    width: 100% !important;

    .shoppingcart-item {
        margin: 30px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .item-image {
            height: 65px;
            width: 65px;
            margin-right: 20px;
            background-color: $color-lightgray;

            img {
                height: 65px;
                width: 65px;
            }
        }

        .item-info {
            flex: 3;

            .item-info-name {
                font-weight: $font-weight-medium;
                margin-bottom: 8px;

            }
            .item-info-quantity-box {
               display: inline-block;
               border-radius: 5px;
                
                span {
                    padding-left: 15px;
                    padding-right: 15px;

                }

                .box-button-left {
                    border: none;
                    border-radius: 5px 0 0 5px;
                    border: 1px solid $color-gray-4;
                    background-color: $color-gray-2;
                }
                .box-button-right {
                    font-weight: 500;
                    border: none;
                    border-radius: 0 5px 5px 0;
                    border: 1px solid $color-gray-4;
                    background-color: $color-gray-2;
                }
            }
        }
 
        .item-price {
            flex: 1;
            text-align: right;
            font-weight: $font-weight-medium;
            margin-bottom: 5px;

            button {
                background-color: transparent;
                border: none;
                padding: 0;


                i {
                    font-size: 0.8rem;
                }
            }
        }
    }

}

@media (min-width: 1200px) {
    .shoppingcart {
        width: 500px !important;
    }
}